body {
  background-color: black;
  font-family: Sans-Serif;
}

.wd-main-content {
  position: relative;
  left: 16px;
  margin-right: 16px;
}

.wd-side-bordered-content {
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
}

.wd-rounded-corners {
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.wd-width-75pct {
  width: 100%;
}

.wd-background-color-dark-grey {
  background-color: rgb(47, 51, 54);
}

.wd-color-white {
  color: white;
}

.wd-color-tuiter-blue {
  color: rgb(29, 161, 242);
}

.wd-explore-search-bar {
  padding: 12px;
  padding-left: 24px;
  border: none;
}
.wd-explore-search-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.wd-font-size-36 {
  font-size: 36px;
}

.wd-align-middle-vertical {
  vertical-align: middle;
}

.wd-explore-gear {
  text-decoration: none;
  margin-left: 48px;
}

/* Navigation Tabs */
.wd-navigation-tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid rgb(47, 51, 54) 1px;
}

.wd-navigation-tab-selected {
  font-size: 15px;
  padding: 16px;
  color: rgb(29, 161, 242);
  border-bottom: solid rgb(29, 161, 242) 4px;
}

.wd-navigation-tab {
  font-size: 15px;
  padding: 16px;
  color: rgb(110, 118, 125);
}

/* Posts */
.wd-posts-topic {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.wd-post-small-text {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-post-main-text {
  color: white;
  font-size: 16px;
  padding-right: 48px;
}

.wd-posts-with-image {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 16px;
  border-top: solid rgb(47, 51, 54) 1px;
  border-bottom: solid rgb(47, 51, 54) 1px;
  display: flex;
  justify-content: space-between;
}

.wd-post-author-text {
  color: white;
  font-size: 12px;
  padding-right: 16px;
}

.wd-posts-author-img {
  border-radius: 12px;
  height: 100px;
  width: 100px;
}

.wd-posts-author-img-wrapper {
  display: flex;
  align-self: center;
}
